@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
  font-family: 'Noto Sans KR', sans-serif;
}


.container{
	position: absolute;
	width: 1000px;
	height: 1300px;
	background-color: rgb(211,211,255);
	margin-top: -100px;
	margin-left: -500px;
	top: 10%;
	left: 50%;
}

.login-form{
	width: 800px;
	height: 1100px;
	background-color:white;
	margin-left: 100px;
	margin-top: 90px;
	top: 10%;
	left: 50%;
}

.selectbox{
	height:25px;
}